[libdefaults]
  default_realm = #SERVER#
  clockskew = #CLOCKSKEW#
  udp_preference_limit = #UDP_PREFERENCE_LIMIT#
  dns_lookup_kdc = #DNS_LOOKUP_KDC#
  dns_lookup_realm = #DNS_LOOKUP_REALM#

[realms]
  #SERVER# = {
    kdc = #SERVER_DOMAIN#
    admin_server = #SERVER_DOMAIN#
  }

[domain_realm]
  .#server# = #SERVER#
  #server# = #SERVER#
